.content {
    font-family: 'Roboto', sans-serif;
}
.card {
    width: 16rem;
}

footer {
    background: black;
}

.navbar {
    background: black !important;
}

.collapse {
    justify-content: end;
}

.navbar-nav .nav-link {
    color: grey !important;
}

.navbar-nav .nav-link.active {
    color: white !important;
}

.navbar-brand {
    color: white;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    text-align: center;
}

.card-title {
    font-weight: bold;
    font-size: 20px;
}

.card-text {
    font-size: 15px;
}

.card-body .btn {
    font-size: 15px;
}

.jumbotron {
    background: #F1F1F1;
    padding: 0 25px 50px;
}

.components {
    margin: auto;
    width: 1100px;
}

.title {
    font-size: 45px;
    font-weight: bold;
}

.lead {
    font-size: 15px;
}

.btn {
    font-size: 15px;
}